*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 30px;
}
input, button{
  padding:5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 30px 5px;
}
p{
  margin: 10px 0;
}
a{
  display: flex;
  width: fit-content;
  text-decoration: none;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}